<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="loginForm"  >
    <form action="/login" method="POST" id="loginFormInput" autocomplete="off">
      <div class="loginInput">
        <input id="email" name="username" autocomplete="off" placeholder="Enter Email" type="text" />
      </div>
      <div class="loginInput">
        <input id="password" name="password"  autocomplete="new-password" placeholder="Enter Password" type ="password" />
      </div>
      <div class="formBtns">
        <button type="submit" id="loginBtn">Log In</button>
      </div>
    </form>
      <div class="formBtns" id="signUp">
        <div >
          Not a member? 
        </div>
        <a href="/sign-up"> 
          <button> Sign Up !</button>
        </a>
      </div>
  </div>
</body>
</html>