<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/sign-up" method="POST" id="signupForm" autocomplete="off">
    <input id="firstname" class="signupInput" name="firstname" autocomplete="off" placeholder="First Name" type="text" />
    <input id="lastname" class="signupInput" name="lastname" autocomplete="off" placeholder="Last Name" type="text" />
    <input id="email" class="signupInput"  name="username" autocomplete="off" placeholder="Email" type="email" />
    <input id="password" class="signupInput"  name="password" type="password" placeholder="Password" />
    <input id="passwordconfirm" class="signupInput"  name="passwordconfirm" type="password" placeholder="Repeat Password" />
    <button type="submit" id="signupBtn">Sign Up</button>
    <a href="/">
       Go Back
    </a>
  </form>
</body>
</html>